.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  margin-bottom: 20px;
  background-color: #282c34;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-link {
  font-size: 25px;
  color: white;
}

.new-link {
  font-size: 20px;
  color: white;
  text-decoration-line: none;
  position: absolute;
  right: 20px;
}

footer {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  background-color: #282c34;
  color: white;
  height: 30px;
  align-items: center;
}
