.Allmovies-list {
  margin-bottom: 20px;
  background-color: snow;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Allmovies-link {
  color: #282c34;
  font-size: 20px;
  font-weight: bold;
}

.Allmovies-list p {
  margin: 5px;
}

.Allmovies-data {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 20px;
}

.img {
  height: 200px;
  margin-left: 20px;
}
